<table style=" width: 100%;
        border-collapse: collapse;
text-align: centerå">
    <tr>
        <td>
            {{name}}, вітаємо вас на нашій платформі
        </td>
    </tr>
    <tr>
        <td class="content">
            <p>Вам потрібно підтвертиди емейл, будь ласка, натисніть кнопку</p>
        </td>
    </tr>
    <tr>
        <td>
            <button style=" background-color: #007BFF;
        color: #fff;
        padding: 2px;
        text-align: center;
        border-radius: 10px;">Підтвердити адресу електронної пошти</button>
        </td>
    </tr>

</table>