<table style=" width: 100%;
        border-collapse: collapse;
text-align: center">
    <tr>
        <td>
            {{name}}, не хивлюйся твій пароль під нашим повним контролем
        </td>
    </tr>
    <tr>
        <td class="content">
            <p>Якщо це дісно ти забув пароль то підтверди встановлення новго паролю</p>
        </td>
    </tr>
    <tr>
        <td>
            <a style="
            background-color: #117bee;
            color: snow;
            padding: 2px;
            text-align: center;
            border-radius: 10px;
            text-decoration: none"
               href="{{frontURL}}/forgot-password?token={{actionToken}}">Підтвердити</a>
        </td>
    </tr>

</table>