<table style=" width: 100%;
        border-collapse: collapse;
text-align: center;
background-color: rgba(4,122,246,0.62)">
    <tr>
        <td style="font-size: 25px; font-weight: bold">
            {{name}}, вітаємо вас на нашій платформі
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-size: 25px; font-weight: bold">Вам потрібно підтвертиди емейл, будь ласка, натисніть кнопку</p>
        </td>
    </tr>
    <tr>
        <td>
            <a style="
            background-color: #117bee;
            color: snow;
            padding: 2px;
            text-align: center;
            border-radius: 10px;
            text-decoration: none"
               href="{{frontURL}}/activate?token={{actionToken}}">Підтвердити</a>
        </td>
    </tr>

</table>