<table style="  background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
 width: 100%;
        border-collapse: collapse;">
    <tr>
        <td style="font-size: 14px; text-align: center;">
            MyCorp - Copyright © 2023
        </td>
    </tr>
    <tr>
        <td>
            <p> Усі права захищені.</p>
        </td>
    </tr>
</table>
