<table style="     background-color: #007BFF;
        color: #fff;
        padding: 20px;
        text-align: center;
 width: 100%;
        border-collapse: collapse;">
    <tr>
        <td style="font-size: 20px; text-align: left; ">
            <b style="width: 55px; height: 55px; margin: 20px">LOGO</b>
        </td>

        <td style="font-size: 20px; text-align: center; ">
            <b style="width: 55px; height: 55px; margin: 20px">AMAZING APP NAME</b>
        </td>

        <td style="text-align: right;">
            <img style="width: 55px; height: 55px; margin: 20px"
                 src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png"
                 alt="icon">
        </td>
    </tr>
</table>

